<footer class="footer">
  <div class="copyright">
    <p>@COPY Accurate Weather Inc. All Rights Reserved</p>
  </div>
  <div class="useful-links">
    <ul><li class="useful-link"><a href="#" class="link">Privacy Policy</a></li>
    <li class="useful-link"><a href="#" class="link">Terms of Use</a></li>
    <li class="useful-link"><a href="#" class="link">The Truth Blog</a></li>
    <li class="useful-link"><a href="#" class="link">Contact Us</a></li></ul>
  </div>
</footer>